<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Customer Line Up</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingServlet</servlet-name>
  	<display-name>BookingServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.BookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletionServlet</servlet-name>
  	<display-name>DeletionServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.DeletionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyServlet</servlet-name>
  	<display-name>ModifyServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.ModifyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingDownload</servlet-name>
  	<display-name>BookingDownload</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.BookingDownload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddServlet</servlet-name>
  	<display-name>AddServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.AddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AsyncServlet</servlet-name>
  	<display-name>AsyncServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.AsyncServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CountBookingServlet</servlet-name>
  	<display-name>CountBookingServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.CountBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreSetup</servlet-name>
  	<display-name>StoreSetup</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.StoreSetup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStoreInfo</servlet-name>
  	<display-name>UpdateStoreInfo</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.UpdateStoreInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCategoryServlet</servlet-name>
  	<display-name>GetCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.GetCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletionCategoryServlet</servlet-name>
  	<display-name>DeletionCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.DeletionCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllCategories</servlet-name>
  	<display-name>GetAllCategories</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.GetAllCategories</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<display-name>AddCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>main.webapp.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingServlet</servlet-name>
  	<url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletionServlet</servlet-name>
  	<url-pattern>/DeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyServlet</servlet-name>
  	<url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingDownload</servlet-name>
  	<url-pattern>/bookingDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddServlet</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AsyncServlet</servlet-name>
  	<url-pattern>/AsyncServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CountBookingServlet</servlet-name>
  	<url-pattern>/CountBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreSetup</servlet-name>
  	<url-pattern>/storeSetup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStoreInfo</servlet-name>
  	<url-pattern>/updateStoreInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCategoryServlet</servlet-name>
  	<url-pattern>/getCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletionCategoryServlet</servlet-name>
  	<url-pattern>/deletionCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllCategories</servlet-name>
  	<url-pattern>/getAllCategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategoryServlet</servlet-name>
  	<url-pattern>/addCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
