body{
	min-height: 400px;
  	margin-bottom: 30%;
   	clear: both;
}


.btn-block{
	margin-top:10px;
	text-align:center;	
}

.btn{
	width:150px;
	padding:10px;
	border:none;
	border-radius:5px;
	background:seagreen;
	font-size:16px;
	color:#fff;
	cursor:pointer;
	
}
button:hover{
	background: #00b33c;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}